/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  /* 2. Remove default margin */
  * {
    margin: 0;
    font-family: "Figtree", serif;
  }
  
  body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
  }
  
  /* 5. Improve media defaults */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  /* 6. Inherit fonts for form controls */
  input, button, textarea, select {
    font: inherit;
  }
  
  /* 7. Avoid text overflows */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  /* 8. Improve line wrapping */
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

body{
    background-color: #F4D04E;
}

.container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main{
    max-width: 24rem;
    background-color: white;
    padding: 24px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    gap: 24px;
    box-shadow: 13px 13px 0px 4px rgba(0,0,0,0.75);
-webkit-box-shadow: 13px 13px 0px 4px rgba(0,0,0,0.75);
-moz-box-shadow: 13px 13px 0px 4px rgba(0,0,0,0.75);
margin: 0 24px;
/* flex-grow: 1; */
}

@media screen and (max-width: 376px) {
    main {
      margin: 0 24px;
      box-shadow: 6px 6px 0px 4px rgba(0,0,0,0.75);
      -webkit-box-shadow: 6px 6px 0px 4px rgba(0,0,0,0.75);
      -moz-box-shadow: 6px 6px 0px 4px rgba(0,0,0,0.75);
  }
}
.content{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.description{
    font-weight: 500;
    color: hsl(0, 0%, 42%);
    font-size: 0.875rem;

    
}
h1{
    color: hsl(0, 0%, 7%);
    font-weight: 800;
    font-size: 1.25rem;
}
button, .author, .date{
font-size: 0.75rem;
}
button{
    display: inline-block;
    max-width: 5.125rem;
    font-weight: 800;
    background-color: #F4D04E;
    border: none;
    border-radius: 5px;
    padding: 5px;
}
.author{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}
.author>p{
    font-weight: 800;
}

footer{
    margin-top: 20px;
}